/*HK fonts*/
@font-face {
    font-family: 'HKGothicNo2Light';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-Light.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-Light.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-Light.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-Light.ttf') format('truetype') ;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'HKGothicNo2';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-Regular.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-Regular.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-Regular.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-Regular.ttf') format('truetype') ;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'HKGothicNo2Medium';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-Medium.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-Medium.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-Medium.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-Medium.ttf') format('truetype')  ;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'HKGothicNo2SemiBold';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-SemiBold.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-SemiBold.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-SemiBold.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-SemiBold.ttf') format('truetype') ;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'HKGothicNo2Bold';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-Bold.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-Bold.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-Bold.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-Bold.ttf') format('truetype')  ;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'HKGothicNo2ExtraBold';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-ExtraBold.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-ExtraBold.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-ExtraBold.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-ExtraBold.ttf') format('truetype') ;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'HKGothicNo2Black';
    font-display: swap;
    src: url('HKGothicNo2/WEB/HKGothicNo2-Black.woff2') format('woff2'),
    url('HKGothicNo2/WEB/HKGothicNo2-Black.woff') format('woff'),
    url('HKGothicNo2/WEB/HKGothicNo2-Black.eot') format('embedded-opentype'),
    url('HKGothicNo2/WEB/HKGothicNo2-Black.ttf') format('truetype') ;
    font-style: normal;
    font-weight: 900;
}
